* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --textcolor: ivory;
}

div {
    padding-bottom: 40px;
}

.header {
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    z-index: 10;
}

.header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header a {
    display: inline-block;
    text-align: center;
    font-size: 32pt;
    font-family: "Cinzel";
    color: var(--textcolor);
    padding: 10px;
    width: 25%;
    text-decoration: none;
}

.header a:hover {
    padding-bottom: 40px
}

h1 {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    color: var(--textcolor);
}

p {
    padding-top: 40px; 
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 14pt;
    color: var(--textcolor);
}

.nature {
    background-color: royalblue;
}

.world {
    background-color: sandybrown;
}

.problem {
    background-color: indigo;
}

.end {
    background-color: gray;
}
