* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    padding-bottom: 40px;
}

.header {
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    z-index: 10;
}

.header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header a {
    display: inline-block;
    text-align: center;
    font-size: 32pt;
    font-family: "Cinzel";
    color: ivory;
    padding: 10px;
    width: 25%;
    text-decoration: none;
}

.header a:hover {
    color: paleturquoise;
}

h1 {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    color: floralwhite;
}

p {
    padding-top: 40px; 
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 14pt;
    color: floralwhite;
}

.nature {
    background-color: green;
}

.world {
    background-color: royalblue;
}

.problem {
    background-color: crimson;
}

.end {
    background-color: gray;
}
